<!DOCTYPE html>
<html>
<head>
	<title>This the homepage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/firebasejs/6.0.2/firebase-firestore.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
	<script type="text/javascript">
		// Your web app's Firebase configuration
	  var firebaseConfig = {
	    apiKey: "AIzaSyBjqtIMpcWqEVA1SsI5lkDhDPQZHvdaKYM",
	    authDomain: "forum-firebase-b3205.firebaseapp.com",
	    databaseURL: "https://forum-firebase-b3205.firebaseio.com",
	    projectId: "forum-firebase-b3205",
	    storageBucket: "forum-firebase-b3205.appspot.com",
	    messagingSenderId: "831909117594",
	    appId: "1:831909117594:web:05602291ce42908b"
	  };
		// Initialize Firebase
	  firebase.initializeApp(firebaseConfig);
	</script>
</head>
<body>
<div class="jumbotron">
  <h1 class="display-4">Hi, Welcome to forum app in firebase!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
   <button class="btn btn-danger" type="button" name="button" onclick="login('gmail')">Login Gmail</button>
   <button class="btn btn-primary" type="button" name="button" onclick="login('fb')">Login FB</button>
   <button class="btn btn-info" type="button" name="button" onclick="login('twitter')">Login Twitter</button>
   <button class="btn btn-success" type="button" name="button" onclick="logout()">Log out</button>
  </p>
  <hr>
<h2>Add Forum</h2>
  <form>
  	<div class="form-group">
	    <label for="title">Title</label>
	    <input type="text" class="form-control" id="title" placeholder="Your tittle">
  	</div>
  	<div class="form-group">
	    <label for="desc">Desciptions</label>
	    <textarea class="form-control" id="desc" rows="3"></textarea>
  	</div>
  	<button class="btn btn-info" type="button" name="button" onclick="addTopic()">Add topic</button>
  </form>
</div>
<script type="text/javascript" src="/assets/js/auth.js"></script>
</body>
</html>