<!DOCTYPE html>
<html>
<head>
	<title>This the homepage</title>
	{{> scripts}}
</head>
<body>
<div class="jumbotron">
  <h1 class="display-4">Hi, Welcome to forum app in firebase!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  {{> auth}}
  <hr>
<h2>List of Forums</h2>
<ul>
	{{#each dataForums}}
	<li><a href="/forum/{{slug}}">{{title}}</a></li>
	<span style="display:block;"><i><b>Desc :</b></i> {{desc}}</span>
	{{/each}}
</ul>
<h2>Add Forum</h2>
  <form>
  	<div class="form-group">
	    <label for="title">Title</label>
	    <input type="text" class="form-control" id="title" placeholder="Your tittle">
  	</div>
  	<div class="form-group">
	    <label for="desc">Desciptions</label>
	    <textarea class="form-control" id="desc" rows="3"></textarea>
  	</div>
  	<button class="btn btn-info" type="button" name="button" onclick="addTopic()">Add topic</button>
  </form>
</div>
<script type="text/javascript" src="/assets/js/auth.js"></script>
</body>
</html>